.container {
    max-width: auto;
    margin: 25px auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.banner-bg {
    height: 200px;
    background: url("https://images.unsplash.com/photo-1501975558162-0be7b8ca95ea?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.banner-con{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-text{
    color: white;
    
}


